rules:
	- bitExpert\PHPStan\Sylius\Rule\Grid\ResourceAwareGridNeedsResourceClass
	- bitExpert\PHPStan\Sylius\Rule\Grid\GridBuilderFieldIsPartOfResourceClass
	- bitExpert\PHPStan\Sylius\Rule\Grid\GridBuilderFilterIsPartOfResourceClass
	- bitExpert\PHPStan\Sylius\Rule\Resource\IndexOperationGridRule

services:
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\CollectRessourceClassForGridClass
		tags:
			- phpstan.collector
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\CollectFieldsForGridClass
		tags:
			- phpstan.collector
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Filter\FilterRegistryFactory

	syliusFilterTypeRegistry:
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Filter\DefaultFilterRegistry
		factory: @bitExpert\PHPStan\Sylius\Collector\Grid\Filter\FilterRegistryFactory::createRegistry
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\CollectFilterForGridClass
		arguments:
			filterRegistry: @syliusFilterTypeRegistry
		tags:
			- phpstan.collector
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Filter\EntityFilter
		tags:
			- phpstan.sylius.grid.filter
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Filter\ExistsFilter
		tags:
			- phpstan.sylius.grid.filter
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Filter\Filter
		tags:
			- phpstan.sylius.grid.filter
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Filter\SelectFilter
		tags:
			- phpstan.sylius.grid.filter
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Filter\StringFilter
		tags:
			- phpstan.sylius.grid.filter
