rules:
	- bitExpert\PHPStan\Sylius\Rule\Grid\ResourceAwareGridNeedsResourceClass
	- bitExpert\PHPStan\Sylius\Rule\Grid\GridBuilderFieldIsPartOfResourceClass
	- bitExpert\PHPStan\Sylius\Rule\Grid\GridBuilderFilterIsPartOfResourceClass
	- bitExpert\PHPStan\Sylius\Rule\Resource\IndexOperationNeedsGridClassRule
	- bitExpert\PHPStan\Sylius\Rule\Resource\ResourceAttributeNeedsFormTypeRule

services:
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\CollectRessourceClassForGridClass
		tags:
			- phpstan.collector
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Field\FieldRegistryFactory
	syliusFieldTypeRegistry:
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Field\DefaultFieldRegistry
		factory: @bitExpert\PHPStan\Sylius\Collector\Grid\Field\FieldRegistryFactory::createRegistry
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\CollectFieldsForGridClass
		arguments:
			fieldRegistry: @syliusFieldTypeRegistry
		tags:
			- phpstan.collector
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Field\StringFieldNode
		tags:
			- phpstan.sylius.grid.field
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Field\DateTimeFieldNode
		tags:
			- phpstan.sylius.grid.field
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Field\TwigFieldNode
		tags:
			- phpstan.sylius.grid.field
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Field\EnumFieldNode
		tags:
			- phpstan.sylius.grid.field
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Field\CallableFieldNode
		tags:
			- phpstan.sylius.grid.field
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Field\GenericFieldNode
		tags:
			- phpstan.sylius.grid.field
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Filter\FilterRegistryFactory

	syliusFilterTypeRegistry:
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Filter\DefaultFilterRegistry
		factory: @bitExpert\PHPStan\Sylius\Collector\Grid\Filter\FilterRegistryFactory::createRegistry
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\CollectFilterForGridClass
		arguments:
			filterRegistry: @syliusFilterTypeRegistry
		tags:
			- phpstan.collector
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Filter\EntityFilter
		tags:
			- phpstan.sylius.grid.filter
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Filter\EnumFilter
		tags:
			- phpstan.sylius.grid.filter
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Filter\ExistsFilter
		tags:
			- phpstan.sylius.grid.filter
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Filter\Filter
		tags:
			- phpstan.sylius.grid.filter
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Filter\SelectFilter
		tags:
			- phpstan.sylius.grid.filter
	-
		class: bitExpert\PHPStan\Sylius\Collector\Grid\Filter\StringFilter
		tags:
			- phpstan.sylius.grid.filter
