parameters:
    level: max
    treatPhpDocTypesAsCertain: false
    paths:
        - src
        - tests
    excludePaths:
        - tests/bitExpert/PHPStan/Sylius/Rule/Grid/data/entity.php
        - tests/bitExpert/PHPStan/Sylius/Rule/Grid/data/grid.php
        - tests/bitExpert/PHPStan/Sylius/Rule/Grid//data/grid_needs_resource_model.php
        - tests/bitExpert/PHPStan/Sylius/Rule/Grid//data/grid_needs_resource_model_attr.php
        - tests/bitExpert/PHPStan/Sylius/Rule/Resource/data/entity.php
    fileExtensions:
        - php
