parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    paths:
        - src
        - tests
    excludePaths:
        - tests/bitExpert/PHPStan/Sylius/Rule/Grid/data/grid.php
    fileExtensions:
        - php
    ignoreErrors:
        -
            message: '~Cannot cast mixed to string.~'
            path: src/bitExpert/PHPStan/Sylius/Rule/Grid/AbstractGridBuilderRule.php
        -
            message: '~Cannot call~'
            path: src/bitExpert/PHPStan/Sylius/Rule/Grid/GridBuilderFieldIsPartOfResourceClass.php
        -
            message: '~Cannot call~'
            path: src/bitExpert/PHPStan/Sylius/Rule/Grid/GridBuilderFilterIsPartOfResourceClass.php
